body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.base-cadastro {
    background-color: lightblue;
    border: 2px solid lightblue;
    border-radius: 10px;
}

footer {
    margin-top: auto;
}

.botao-base {
    color:white;
    text-decoration: none;
}